[run]
source = src_python
omit = 
    tests_python/*
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    
    def __repr__
    
    if __name__ == .__main__.:
    
    pass
    \.\.\.